/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables*/

:root {
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: "Inter", cursive;
    --primary-color: #D7263D;
    /* Deep red */
    --secondary-color: #0F0F0F;
    /* Charcoal Black */
    --highlight-color: #F2F2F2;
    /* Off White */
    --light-highlight: #6E6E6E;
    /* Steel Gray */

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: var(--secondary-font);
    color: var(--light-highlight);
    margin-bottom: 15px;
    text-align: center;
}

.menu-logo {
    height: 48px;
    max-height: 48px;
    width: auto;
    display: block;
}

/*Navbar*/

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    height: 50px;
    width: auto;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.6));
}

.menu-logo {
    height: 48px;
    max-height: 48px;
    width: auto;
    display: block;
}

/*Body padding to prevent content being hidden behind fixed navbar*/
body {
    padding-top: 80px;
}

/*Hero Section*/

#hero-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 40px 0;
    text-align: center;
}

#hero-section h1,
#hero-section h2,
#hero-section p {
    margin-bottom: 1rem;
}


.hero-image {
    max-width: 100%;
    height: 400px;
    border-radius: 280px;
    margin: 2rem auto 0;
}


/* grid visualisation CSS for testing purposes only */

.container,
.row {
    border: 2px solid black;
}

.col-12,
.col-4,
.col-6 {
    border: 2px solid white;
    background-color: lightgray;
}