/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables*/

:root {
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: "Inter", cursive;
    --primary-color: #D7263D;
    /* Deep red */
    --secondary-color: #0F0F0F;
    /* Charcoal Black */
    --highlight-color: #F2F2F2;
    /* Off White */
    --light-highlight: #6E6E6E;
    /* Steel Gray */

}

.menu-logo {
    height: 48px;
    max-height: 48px;
    width: auto;
    display: block;
}







/* grid visualisation CSS for testing purposes only */

.container,
.row {
    border: 2px solid black;
}

.col-12,
.col-4,
.col-6 {
    border: 2px solid white;
    background-color: lightgray;
}