/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');









/* grid visualisation CSS for testing purposes only */

.container,
.row {
    border: 2px solid black;
}

.col-12,
.col-4,
.col-6 {
    border: 2px solid white;
    background-color: lightgray;
}